.titolo {
  font-size: 48px;
  font-weight: 900;
  background: -webkit-linear-gradient(#38E3F7, #D97334);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	text-align: center;
	text-shadow: 1px 25px 25px #DCDCDC;
	font-family: Copperplate, Papyrus, fantasy;
}
.sottotitolo {
  font-size: 32px;
  background: -webkit-linear-gradient(#D97334, #3E7A31);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center

}
.bullet {
  font-size: 24px;
font-weight: 900;
}