.titolo {
  font-size: 48px;
  font-weight: 900;
  background: -webkit-linear-gradient(#1E79FA, #7A5631);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	text-align: center;
	text-shadow: 1px 25px 25px #ffffff;
}
.sottotitolo {
  font-size: 32px;
  background: -webkit-linear-gradient(#7A5631, #3E7A31);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center

}